.counter{
   border: blue;
   border-radius: 15px;
   width: 400px;
   background-color: #342c94;
   height: 100%;
   text-align: center;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap-reverse;

}
.but{
   background-color: aqua;
   height: 50px;
   border-radius: 15px;
   width: 100px;

}
.maxminznach{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;

}
.chislo{
   flex-direction: column;
   justify-content: center;
   border-radius: 15px;
   display: flex;
   height:100px ;
   background-color: aqua;
   border: 2px solid #1c4cc7;
}

.nastroika{
   border-radius: 15px;
   width: 500px;
   background-color: #5042e1;
   height: 100%;
   text-align: center;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap-reverse;
   border: 2px solid #121a2d;
}